body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
  position: relative;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: white;
}

.lineCom {
  display: flex;
  border-right: 20px solid black;
  width: 288px;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.totalDivOne {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url('./mouse.png');
  background-position-x: 90%;
  background-position-y: 80%;
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: #FAF8DB;
}
.start{
  color:#FFFFFF;
  position: fixed;
}
.totalDivTwo {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url('./snowWhite.png');
  background-position-x: 85%;
  background-position-y: 80%;
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: #ffe4ea;
}

.totalDivThree {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url('./olaf2.png');
  background-position-x: 80%;
  background-position-y: 70%;
  background-size: 20%;
  background-repeat: no-repeat;
  background-color: #ddf2fd;
}

.circle-in-the-line {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 18%;
  /* margin-left: 20%; */
  margin-top: 18%;
}

.circle-in-the-line-outer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: 248px;
  /* margin-left: 20%; */
  margin-top: 50%;
}

.year-beside-line {
  position: relative;
  left: 110%;
  top: -10%;
  font-size: 100px;
  font-weight: bold;
}

.content-under-year {
  position: absolute;
  text-align: left;
  width: 1000px;
  margin-top: -50%; 
  font-size: 85px; 
  font-weight: bold; 
}