.upper-grid{
  z-index:3;
}

body {
    background: #fff;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
    /* width: 250px; */
    width: 100%;
    display: "flex";
    /* overflow: auto; */
    /* height: auto; */
    /* overflow-x: hidden; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    /* max-height: 1000px; */
    justify-content: space-around;
    /* overflow: scroll; */


  }

  .individual{
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
   
  }
  .paper{
    width: 324px;
    height: 439px;
    justify-content: space-evenly;
    
    /* border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    border-top: 100px solid transparent; */

  }


.profile
{
  position: absolute;
  /* align-content: center; */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 8%;
  margin-left: -40%;
  /* background-color: rgb(240, 0, 0) */
}

.rectangle
{
  width: 300px;
  height : 300px;
  justify-content: space-evenly;
  border-color: black;
  background-color: white;
  box-shadow: 11px 8px 14px #66666675;
  position: relative;
  z-index: 1;

 
  
}
/* .paper :hover{
  color: gray;
  transition : 3s;
  background-color: rgb(240, 0, 0)
} */

.rectangle:hover{
  /* background-color: rgb(97, 96, 96); */
  
}

.profile:hover{
  /* background-color: gray; */
  /* transform: scale(1.2,1.2); */
  /* transform: scale(1.2,1.2); */
  
}

.lpsize{
  position: absolute;
  width: 270px;
  height: 270px;
  margin-top: -280px;
  margin-left: 70px;
  position: relative;
  /* visibility: hidden; */
  z-index: -1;
  
}

.color{
  z-index: 1;
 
}

.color:hover{
  /* transform: scale(1.1,1.1); */
  /* background-color: gray; */
  /* filter: brightness(50%); */
  transition: all ease 1s 0s;


}

.color:hover .lpsize{
  visibility: visible;
  transition: 1s;
   /* transform: translateX(150px); */
   
   animation: downsizego 4s;
   animation-fill-mode: forwards;
}

.color:active { 
   transform: rotateY(90deg); 
   /* transform: scale(1.1,1.1); */
   animation : rotate_image 1s infinite linear;

  
}

.color.active .lpsize{
  /* /* transform: translateX(-150px); */
  /* display: none; */
  animation: downsizego ;

}

@keyframes rotate_image {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

@keyframes downsizego{
  from{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(150px);
  }
  to{
    transform: translateX(-43px)
  }
}

.text_movie{
  text-align: left;
  margin-left: 10px;
  filter: brightness(200%);
  color: rgb(252, 252, 252);
  position:absolute;
  visibility: hidden;
}