.animation-page-background {
  overflow: auto;
  height: 100vh;
  /* width: 100vh; */
  background-image: url("./wall2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.poster {
  width: 240px;
  height: 330px;
  padding: 7%;
  position: relative;
  /* box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  filter: saturate(85%) contrast(85%);
  z-index: 3;
  transform: rotateY(0); */
}
.poster img {
  width: 200px;
  height: 290px;
  display: block;
  /* z-index: 1; */
  position: relative;

}

.poster:before,
.poster:after {
  content: '';
  width: 100%;
  left: 0;
  /* position: absolute; */
}
.poster:before {
  /* height: 4%;
  bottom: -4%;
  background-repeat: no-repeat;
  background-image: linear-gradient(177deg, rgba(0,0,0,0.22) 10%, transparent 50%), linear-gradient(-177deg, rgba(0,0,0,0.22) 10%, transparent 50%);
  background-size: 49% 100%;
  background-position: 2% 0, 98% 0; */
}
.poster:after {
  /* height: 100%;
  top: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), linear-gradient(to bottom, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), linear-gradient(to bottom, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), linear-gradient(265deg, rgba(0,0,0,0.2), transparent 10%), linear-gradient(5deg, rgba(0,0,0,0.2), transparent 15%), linear-gradient(-5deg, rgba(0,0,0,0.1), transparent 10%), linear-gradient(5deg, rgba(0,0,0,0.1), transparent 10%), linear-gradient(-265deg, rgba(0,0,0,0.2), transparent 10%), linear-gradient(-5deg, rgba(0,0,0,0.2), transparent 15%), linear-gradient(266deg, rgba(0,0,0,0.2), transparent 10%);
  background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%;
  background-position: right top, left center, left bottom, left top, left top, right top, left center, right center, right center, left bottom; */
}
.posternew{
  width: 240px;
  height: 330px;
  padding: 7%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  filter: saturate(85%) contrast(85%);
  z-index: 3;
  transform: rotateY(0);
}
.posternew:hover {
  animation: card-flip 1s linear;
  animation-fill-mode: forwards;
  transform: rotateY(180deg);
  color: white;
  opacity: 1;
  /* background-color: black; */
}

.textt_movie1{
  text-align: left;
  margin-left: 10px;
  /* filter: brightness(100%); */
  /* opacity: 100%; */
  color: white;
  position:absolute;
  z-index: 5;
  visibility: hidden;
}


.posternew:hover .textt_movie1{
  visibility:visible;
}



.poster div {
  /* opacity: 0; */
  /* color: white; */
  text-align: center;
}

/* .poster img:hover {
  background-color: black;
} */

/* .card-card:hover.back-card {
  animation: card-visible 1s linear;
} */

@keyframes card-flip {
  from {
    transform: rotateY(0deg);
    filter: brightness(100%);
    /* opacity: 0; */
  }
  to {
    transform: rotateY(180deg);
    filter: brightness(0%);
    /* opacity: 1; */
  }
}

@keyframes card-visible {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.card-card {
  /* position: relative; */
  /* backface-visibility: hidden; */
}


.front-card:hover {
  /* color: black; */
  /* opacity: brightness; */
  /* background-color: black; */
  /* filter: brightness(0%); */
  /* animation-fill-mode: forwards; */
  /* animation: colorchange 1s; */
}

/* @keyframes colorchange{
  from{
    filter: brightness(100%);
  }
  to{
    filter: brightness(0%);
  }
} */

/* .back-card {
  position: absolute;
  background-color: black;
  color: #fff;
  transform: rotateY(180deg);
  width: 240px;
  height: 330px;
  z-index: 5;
  text-align: center;
  visibility: hidden;
} */

.container-poster {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 60px 30px;
  margin: 0 auto;
}
.container-poster > img {
  width: 250px;
}

.cards-setting {
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
}


