.player{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-y: calc();
}
.lppan{
    align-content: center;
    max-width: 600px;
    position:absolute;
    margin-top: -300px;
    margin-left: 400px;
    shape-outside: circle(100px);
    filter: drop-shadow(4px 4px 4px);
}
.cover{
    align-content: center;
    max-width: 202px;
    position:absolute;
    margin-top: -100px;
    margin-left: 600px;
    clip-path: circle(100px);
}
.lpspin{
  animation: spin 1.8s infinite linear;
}
.arm{
    position:absolute;
    margin-top: 400px;
    margin-left: 300px;
    max-width: 420px;
    transform: rotate(-90deg);
    transform-origin: 4% 83%;
    filter: drop-shadow(2px 2px 3px);
}
.go{
    transform: rotate(-40deg);
}
.songs{
  position:absolute;
  writing-mode: vertical-rl;
  margin-top: 300px;
  margin-left: 400px;
  height: 300px;
  width: 300px;
  font-weight: normal;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 50px; */
}

/* .circle{
    position:absolute;
    max-width: 120px;
    margin-top: 470px;
    margin-left: 93px;
} */
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
.pause .cover {
    animation-play-state: paused;
  }
