.frame-background {
  width: 200px;
  height: 300px;
  background-size: 200px 300px;
  position: relative;
  background-image: url("./frame2.png");
  background-repeat: no-repeat;
  /* text-align: center; */
}

.image-size {
  position: absolute;
  height : 80%;
  width : auto;
  max-width: 80%;
  /* left: 30%;
  right: 30%; */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* margin-left: auto; */
  /* align: center; */
}