/* for css flex */
.container {
  display: flex;
  width: 100vh;
  height: 15vh;
}

.item {
  flex-basis: auto;
}

.header-background {
  background-color: black;
  /* width: 100vh; */
  height: 15vh;
}

.logo-diswiki {
  /* position: absolute; */
  flex-basis: auto;
  width: 241px;
  height: 88.86px;
  left: 39px;
  top: 60px;
  /* background: url(./diswiki.png); */
}