html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea, input, button { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body {font-size: 16px; font-family:'NotoB', '돋움', serif; line-height: 1.5; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*custom*/
caption { visibility: hidden; overflow: hidden; width: 1px; height: 1px; font-size: 0; line-height: 0 }
legend { position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px; }
a:link, a:visited { font: inherit; color: inherit; text-decoration: none; }
a:hover, a:focus, a:active { font: inherit; color: inherit; text-decoration: underline; }
input, textarea { -webkit-appearance: none; -webkit-border-radius: 0; }
input[type="text"], input[type="password"], input[type="email"] { display: inline-block; width: 100%; }
button { background: none; }
.blind { position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px; }
.clear { clear: both; }
figure, video { font-size: 0; }
img { width: 100%; }

@font-face {font-family: 'NotoB';
src:url("../fonts/NotoSans-Black.eot"),
url(../fonts/NotoSans-Black.woff2) format('woff2'),
url(../fonts/NotoSans-Black.woff) format('woff'),
url(../fonts/NotoSans-Black.otf) format('opentype');}

@font-face {font-family: 'NotoM';
src:url("../fonts/NotoSans-Medium.eot"),
url(../fonts/NotoSans-Medium.woff2) format('woff2'),
url(../fonts/NotoSans-Medium.woff) format('woff'),
url(../fonts/NotoSans-Medium.otf) format('opentype');}

@font-face {font-family: 'NotoR';
src:url("../fonts/NotoSans-Regular.eot"),
url(../fonts/NotoSans-Regular.woff2) format('woff2'),
url(../fonts/NotoSans-Regular.woff) format('woff'),
url(../fonts/NotoSans-Regular.otf) format('opentype');}

@font-face {font-family: 'NotoL';
src:url("../fonts/NotoSans-Light.eot"),
url(../fonts/NotoSans-Light.woff2) format('woff2'),
url(../fonts/NotoSans-Light.woff) format('woff'),
url(../fonts/NotoSans-Light.otf) format('opentype');}

@font-face {font-family: 'Roboto';
src:url(../fonts/Roboto-Bold.woff) format('woff');
}

/* reset */

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 767px) {

}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{font-size:16px;font-family:NotoB,'돋움',serif;line-height:1.5}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}caption{visibility:hidden;overflow:hidden;width:1px;height:1px;font-size:0;line-height:0}.blind,legend{position:absolute;overflow:hidden;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px}a:link,a:visited{font:inherit;color:inherit;text-decoration:none}a:active,a:focus,a:hover{font:inherit;color:inherit;text-decoration:underline}input,textarea{-webkit-appearance:none;-webkit-border-radius:0}input[type=email],input[type=password],input[type=text]{display:inline-block;width:100%}button{background:0 0}.clear{clear:both}figure,video{font-size:0}img{width:100%}@font-face{font-family:NotoB;src:url(../fonts/NotoSans-Black.eot),url(../fonts/NotoSans-Black.woff2) format('woff2'),url(../fonts/NotoSans-Black.woff) format('woff'),url(../fonts/NotoSans-Black.otf) format('opentype')}@font-face{font-family:NotoM;src:url(../fonts/NotoSans-Medium.eot),url(../fonts/NotoSans-Medium.woff2) format('woff2'),url(../fonts/NotoSans-Medium.woff) format('woff'),url(../fonts/NotoSans-Medium.otf) format('opentype')}@font-face{font-family:NotoR;src:url(../fonts/NotoSans-Regular.eot),url(../fonts/NotoSans-Regular.woff2) format('woff2'),url(../fonts/NotoSans-Regular.woff) format('woff'),url(../fonts/NotoSans-Regular.otf) format('opentype')}@font-face{font-family:NotoL;src:url(../fonts/NotoSans-Light.eot),url(../fonts/NotoSans-Light.woff2) format('woff2'),url(../fonts/NotoSans-Light.woff) format('woff'),url(../fonts/NotoSans-Light.otf) format('opentype')}@font-face{font-family:Roboto;src:url(../fonts/Roboto-Bold.woff) format('woff')}




.inner1 {max-width:1000px;  overflow-y: hidden;margin: 0 auto; max-height: 2000px;}
.com_tit011 {font-family: 'NotoB'; font-size:50px; color:#222; text-align: center;}
.com_txt011 {max-width:70%; margin:0 auto; font-family: 'NotoR'; font-size:22px; color:#555; text-align: center;;}
.header1_wrap {position: fixed; left:0; top:0; z-index:100; width:100%; height:70px; border-bottom:1px solid rgba(255,255,255,.2);}
.header1_wrap .logo {margin-top:15px; padding-left:20px; font-size:24px; color:#fff;;}
/* .footer {position:relative; height:300px;}
.footer:after {position: absolute; left: 0; top: 0; z-index: 10; display: block; width:100%; height:100%; content:''; background: rgba(3, 3, 3, 0.8);} */
.footer1 .text_area {position: relative; z-index: 20; padding:40px;}
.footer1 .text_area p {color:#fff; font-size:34px;}

/* main */
.nav_list {position: fixed; left:20px; top:50%; z-index:100; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%);}
.nav_list .list {}
.nav_list .list li {}
.nav_list .list li button {font-size:180px; color:#f1f1f1; line-height: 1; outline-width: 0; cursor: pointer; transition:.3s;}
.nav_list .list li:nth-child(2) button {-webkit-text-fill-color:transparent; -webkit-text-stroke:2px #f1f1f1;}
.nav_list .list li:nth-child(3) button {-webkit-text-fill-color:transparent; -webkit-text-stroke:2px #f1f1f1;}
.nav_list .list li:hover button {-webkit-text-fill-color:#f1f1f1; transform:scale(.9); -webkit-transform:scale(.9); -moz-transform:scale(.9); -o-transform:scale(.9); -ms-transform:scale(.9);}

.sec_mainvis {overflow: hidden; height:100vh;}
.sec_mainvis .main_visual {}
.sec_mainvis .main_visual:after {position: absolute; left: 0; top: 0; z-index: 10; display: block; width:100%; height:100%; content:''; background:rgba(0,0,0,0); transition:background .5s .1s;}
.sec_mainvis.active .main_visual:after {background:rgba(0,0,0,1); transition-delay: 0s;}
.sec_mainvis .main_visual .tit {position:absolute; left:50%; top:50%; font-size:60px; line-height:1.3; color:#fff; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); text-align: center;}
.sec_mainvis .main_visual .video_fixed {position: fixed; left:0; top:0; z-index: -1; width:100%; height: 100%}
.sec_mainvis .main_visual .video_fixed video {position: absolute; left:50%; top:50%; min-width: 1920px; min-height: 1080px; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}

.sec_list_overlap {overflow: hidden; height: 100vh; padding-top:90px; background-image: url('../images/img_blur01.jpg'); background-size: cover; background-repeat: no-repeat;}
.sec_list_overlap .list_overlap .com_tit01 {color:#fff;}
.sec_list_overlap .list_overlap .com_txt01 {color:#fff;}
.sec_list_overlap .list_overlap .list {position:relative; margin-top:50px;}
.sec_list_overlap .list_overlap .list:after {clear:both; display:block; content:'';}
.sec_list_overlap .list_overlap .list li {position:relative; float:left; width:50%; box-sizing: border-box;}
.sec_list_overlap .list_overlap .list li .img_box {opacity: 0; transform:translateY(50px); -webkit-transform:translateY(50px); -moz-transform:translateY(50px); -o-transform:translateY(50px); -ms-transform:translateY(50px); transition:opacity .5s, transform .5s;}

.sec_list_overlap.active .list_overlap .list li .img_box {opacity: 1; transform:translateY(0px); -webkit-transform:translateY(0px); -moz-transform:translateY(0px); -o-transform:translateY(0px); -ms-transform:translateY(0px);}
.sec_list_overlap.active .list_overlap .list li:first-child .img_box {transition-delay: .3s;}
.sec_list_overlap.active .list_overlap .list li:first-child .img_box.last {transition-delay: .6s;}
.sec_list_overlap.active .list_overlap .list li:last-child .img_box{transition-delay: .8s;}

.sec_list_overlap .list_overlap .list li .img_box {overflow:hidden; }
.sec_list_overlap .list_overlap .list li .img_box img {transition: transform .5s ease;}
.sec_list_overlap .list_overlap .list li .img_box:hover img {transform:scale(1.2) rotate(-0.01deg); -webkit-transform:scale(1.2) rotate(-0.01deg); -moz-transform:scale(1.2) rotate(-0.01deg); -o-transform:scale(1.2) rotate(-0.01deg); -ms-transform:scale(1.2) rotate(-0.01deg);}
.sec_list_overlap .list_overlap .list li:first-child  {left:-10px; top:20px;}
.sec_list_overlap .list_overlap .list li:first-child .img_box.last { margin-top:20px; }
.sec_list_overlap .list_overlap .list li:last-child {left:10px;}

.sec_parallax {overflow:hidden; padding-top:90px; padding-bottom:90px; background: #fff; transition:background .5s;}
.sec_parallax.active {background: #000;}
.sec_parallax .com_tit01, .sec_parallax .com_txt01 {position: relative; z-index: 20; color:#fff;}
.sec_parallax .list_banner {position: relative; height:900px; margin-top:50px;}
.sec_parallax .list_banner .img_box {overflow: hidden; z-index:20;}
.sec_parallax .list_banner .img_box img {transition: transform .5s ease;}
.sec_parallax .list_banner .img_box:hover img {transform:scale(1.2) rotate(-0.01deg); -webkit-transform:scale(1.2) rotate(-0.01deg); -moz-transform:scale(1.2) rotate(-0.01deg); -o-transform:scale(1.2) rotate(-0.01deg); -ms-transform:scale(1.2) rotate(-0.01deg);}
.sec_parallax .list_banner .img_box.img1 {position: absolute; left:390px; top:0; width:400px;}
.sec_parallax .list_banner .img_box.img2 {position: absolute; left:110px; top:50px; width:260px;}
.sec_parallax .list_banner .img_box.img3 {position: absolute; left:23px; top:243px; width:347px;}
.sec_parallax .list_banner .img_box.img4 {position: absolute; left:390px; top:287px; width:280px;}
.sec_parallax .list_banner .img_box.img5 {position: absolute; left:0px; top:494px; width:210px;}
.sec_parallax .list_banner .img_box.img6 {position: absolute; left:230px; top:494px; width:440px;}
.sec_parallax .list_banner .img_box.img7 {position: absolute; left:690px; top:286px; width:410px;}
.sec_parallax .list_banner .img_box.img8 {position: absolute; left:810px; top:59px; width:160px;}
.sec_parallax .list_banner .bg_line {position:absolute; top:-720px; right:-50%; z-index:10; width: 1212px; height: 1240px; background-image:url('../images/bg_line01.png'); }



@media only screen and (max-width: 1440px) {
    .inner1 {max-width:800px;}
    }

